*{
  margin: 0;
  padding: 0;
  color: var(--white);
  box-sizing: border-box;
}

:root {
  --dark: #172026;
  --white: #ffffff;
  --green: #04BF9D;
  --grey : ##97A6A0;
}

html {
  scroll-behavior: smooth;
}

h3 {
  font-size: 25px;
  text-align: center;
  margin: 10px 0;
}

.container {
  background-image: url(./assets/background.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.enable {
  display: none;
}

/* NAV */
nav:not(.enable) {
  width: 100%;
  height: 60px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 100;
  backdrop-filter: blur(2px);
}

nav a  {
  text-decoration-line: none;
}

nav h1 {
  grid-column: 1/3;
  text-align: center;
}

nav h1 a {
  color: var(--white);
}

nav ul {
  grid-column: 3/6;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  margin: 0 5px;
  text-decoration: none;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  color: var(--white);
}

nav ul li a:hover {
  color: var(--green);
  text-shadow: 1px 1px 1px var(--white);
}

nav img {
  display: none;
  width: 30px;
  grid-column: 5/6;
 filter: invert(100%) sepia(0%) saturate(7480%) hue-rotate(190deg) brightness(95%) contrast(107%);
}

/* NavBar */

.navbar {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 100;
  background: rgba( 255, 255, 255, 0.35 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 20px );
}

.navbar .content-navbar {
  width: 60%;
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  background: var(--white);
}

.navbar:not(.active) {
  width: 100%;
  display: none;
}

.navbar img {
  width: 30px;
  margin: 20px;
  position: absolute;
  top: 0;
  left: 0;
}

.navbar h1 {
  color: var(--green);
  text-shadow: 1px 1px 10px var(--green);
  text-align: center;
  margin-top: 50px;
}

.menu-items {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}

.menu-items li {
  width: 50%;
  padding: 30px 0;
  border-top: 1px solid var(--dark);
  text-align: center;
}

.menu-items li a{
  width: 100%;
  text-decoration: none;
  color: var(--dark);
}

.menu-items li a:hover {
  color: var(--green);
  text-shadow: 1px 1px 1px var(--grey);
}

/* HOME */

.home {
  width: 100%;
  height: 550px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.home img {
  width: 250px;
  margin: 10px;
  border: 2px solid var(--white);
  border-radius: 50%;
}

.home .card {
  width: 500px;
  padding: 25px;
  background: rgba( 255, 255, 255, 0.35 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 20px );
  -webkit-backdrop-filter: blur( 20px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.home .card h2 p {
  font-size: 30px;
  text-align: start;
  color: var(--white);
  text-shadow: 1px 1px 5px var(--dark);
}

.home .card h2 p:nth-child(2) {
  color: var(--green);
}

.home .card img {
  width: 100px;
  border: none;
  border-radius: initial;
  
}

/* About */

.about {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

/* about-pf */

.about-pf {
  width: 70%;
  text-align: center;
}

.about-pf p {
  width: 70%;
  margin: auto;
  text-align: justify;
}

/*Skill*/

.skill {
  width: 100%;
}

.skill h3 {
  padding: 10px;
}

.skill .img {
  width: 70%;
  display: grid;
  margin: auto;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
}

.skill .img figure {
  width: 150px;
  height: 150px;
  background: rgba( 255, 255, 255, 0.35 );
  box-shadow: 0 8px 15px 0 var(--green);
  backdrop-filter: blur( 20px );
  -webkit-backdrop-filter: blur( 20px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  display: flex;
  flex-direction: column;
  margin: 5px;
}

.skill .img img {
  width: 65%;
  margin: auto;
  filter: drop-shadow(2px 4px 3px var(--green));
}

.skill .img img::after{
  content: '';
  width: 100%;
  height: 100%;
}

.skill .img figure:hover::after{
  content: attr(data-name);
  position: absolute;
  width: 100%;
  text-align: center;
  color: var(--dark);
  bottom: 0;
  margin-bottom: 2px;
  text-shadow: 1px 1px 3px var(--green);
}

.skill .img p {
  width: 100%;
  color: var(--dark);
  text-align: center;
}

/* Service */

.service {
  width: 90%;
  margin: 70px auto;
  padding: 40px 0 81px 0;
  background: rgba( 255, 255, 255, 0.35 );
  box-shadow: 0 8px 20px 0 var(--green);
  backdrop-filter: blur( 20px );
  -webkit-backdrop-filter: blur( 20px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.service h3 {
  margin-bottom: 15px;
}

.service div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.service div .img-service {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  align-items: center; 
}

.service div .img-service img {
  width: 80%;
  filter: drop-shadow(2px 4px 6px var(--dark));
}

.service div .img-service p {
  width: 100%;
  text-align: center;
  margin: 10px 0;
  text-decoration-line: underline;
}

/* Potfolio */
.potfolio {
  width: 90%;
  margin: 70px auto;
}

.potfolio  .content-project{
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(302px, 1fr));
  gap: 15px;
  justify-items: center;
}

.project {
  width: 300px;
  height: 250px;
  margin: 0;
  position: relative;
  transition: all ease 1s;
  transform-style: preserve-3d;
  transform: perspective(600px) rotateY(-0deg);
  box-shadow: 2px 2px 6px var(--green);
  cursor: pointer;
}

.project.rotate {
  -webkit-transform: rotateY(175deg);
  -ms-transform: rotateY(175deg);
  -o-transform: rotateY(175deg);
  transform: rotateY(175deg);
}

.project .front, .project .back {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  transition: all ease 1s;
}

.project .back {
  position: absolute;
  top: 0;
  padding: 20px;
  color: #fff;
  transform: perspective(600px) rotateY(180deg);
  backface-visibility: hidden;
  overflow: hidden;
  background: #0d0d0dc9;
  z-index: 50;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.project .back p {
  line-height: 22px;
  font-size: 20px;
  text-align: center;
}

.project .back .icon {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.project .back .icon a {
  width: 50px;
  height: 50px;
  cursor: pointer;
  display: block;
}

.project .back .icon a:hover img {
  filter: drop-shadow(2px 4px 6px var(--green));
}

/* Contact */

.contact {
  width: 70%;
  margin: auto;
  padding: 20px 0;
}

.link-contact {
  width: 90%;
  margin: auto;
  display: flex;
  justify-items: center;
  align-items: center;
}

.link-contact a {
  width: 25%;
  display: flex;
  justify-content: center;
}

.link-contact a img {
  width: 50%;
  margin: 10px;
}

.link-contact a img:hover {
  filter: invert(56%) sepia(59%) saturate(2399%) hue-rotate(129deg) brightness(94%) contrast(97%);
}

/* FOOTER */
footer {
   width: 100%;
   padding: 15px 0;
   text-align: center;
   background: var(--green);
 }

/* MEDIA QUERY */

@media only screen and (max-width: 1000px) {

  .about {
    width: 90%;
    margin: auto;
    flex-direction: column;
    align-items: center;
    justify-items: center;
  }

}

@media only screen and (max-width: 630px) {
  .home {
    flex-direction: column;
    justify-content: center;
  }

  .home img {
    width: 30%;
  }

  .home .card {
    width: 80%;
  }

  .skill .img figure {
    width: 100px;
    height: 100px;
  }

  .skill .img figure img {
    width: 50%;
  }
}

@media only screen and (max-width: 576px) {

  /*nav h1 {*/
    /*grid-column: 4/6;*/
  /*}*/

  nav ul{
    display: none;
  }

  nav img {
    display: block;
    /*grid-column: 1/3;*/
  }

  .navbar {
    display: block;
  }

  .service {
    width: 60%;
  }

  h3 {
    font-size: 30px;
    text-shadow: 1px 1px 3px var(--dark);
  }

  .service div{
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .service div .img-service {
    width: 60%;
  }

  .service div .img-service img {
    width: 60%;
  }

  .service div .img-service p {
    font-size: 27px;
    text-shadow: 1px 1px 3px var(--dark);
  }
}

@media only screen and (max-width: 450px) {
   .skill .img figure {
     width: 70px;
     height: 70px;
   }

   .service div .img-service {
     margin-top: 15px;
   } 

   .service div .img-service img {
    width: 90%;
  }
}
